form.product-form(action=`/admin/${action}` method="POST")
    .form-control
        label(for="title") Title
        input(type="text" name="title" id="title" value=title)
    .form-control
        label(for="imageUrl") Image url
        input(type="text" name="imageUrl" id="imageUrl" value=image)
    .form-control
        label(for="price") Price
        input(type="number" name="price" id="price" value=price)
    .form-control
        label(for="description") Description
        textarea(name="description" id="description" rows='5') #{description}
    if id
        input(type='hidden' name='id' value=id)
    button(type="submit") #{button}