extends ../layouts/main-layout.pug
block styles

block content
    main
        if(products && products.length)
            .grid
                each product in products
                    li
                        p #{product.title} (#{product.quantity})
                        p #{product.price}
                        form(action='/cart-delete-item' method='POST')
                            input(type='hidden' name='id' value=product._id)
                            button.btn(type='submit') Delete
            p Total price #{total}
        else
            h1 No products in cart